body {
    margin: 0;
    padding: 0;
    background-color: #F2F4F5;
}

.headbar {
    height: 72px;
    width: 100%;
    background: #002F34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-headbar {
    height: 72px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 30px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    font-family: Geomanist, Arial, sans-serif;
}

.menu :hover {
    color: #7F9799;
}

.menu-item1 {
    margin-right: 15px;
}

.menu-item1 i {
    margin-right: 20px;
    scale: 125%;
}

.menu-item2 i {
    margin-right: 20px;
    scale: 125%;
}

.menu-item3 i {
    margin-right: 10px;
    scale: 125%;
}

.add {
    color: #002F34;
    margin-right: 20px;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    min-height: 48px;
    font-family: Geomanist, Arial, sans-serif;
}

.add:hover {
    background-color: #002F34;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
}

.news {
    height: 56px;
    background-color: #FFF6D9;
    display: flex;
    font-size: 14px;
    font-family: Geomanist, Arial, sans-serif;
    align-items: center;
    padding-left: 15px;
}

.search-container-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50px
}

.search-container {
    height: 102px;
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    align-items: end;
}

.search-box, .location-box, .search-button {
    position: relative;
}

.search-icon, .location-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
    color: #002F34;
    pointer-events: none;
}

.search-input {
    height: 66px;
    background: #FFFFFF;
    box-sizing: border-box;
    font-family: Geomanist, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 4px;
    border: 1px solid #fff;
    padding: 14px 20px 14px 50px;
    width: 100%;
}

.location-input {
    height: 66px;
    background: #FFFFFF;
    box-sizing: border-box;
    font-family: Geomanist, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 0px 4px;
    border: 1px solid #fff;
    padding: 14px 20px 14px 50px;
    width: 100%;
}

.search {
    height: 66px;
    color: #FFFFFF;
    cursor: pointer;
    border: 5px solid #002F34;
    background-color: #002F34;
    font-size: 16px;
    margin: 0px 20px 4px 0px;
    font-weight: 800;
    font-family: Geomanist, Arial, sans-serif;
    width: 145px;
}

.search:hover {
    background-color: #FFFFFF;
    color: #002F34;
    border: 5px solid #002F34;
}

.categories {
    color: #002F34;
    margin-top: 30px;
    background-color: #FFFFFF;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.categories-text {
    padding-top: 50px;
    font-weight: 700;
    line-height: 34px;
    font-size: 32px;
    text-align: center;
    font-family: Geomanist, Arial, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    padding: 0;
    justify-content: start;
}
li {
    margin: 35px 5px 20px;
    text-align: center;
}

li:nth-child(8n+1) img {
    background: #FFCE32;
}

li:nth-child(8n+2) img {
    background: #3A77FF;
}

li:nth-child(8n+3) img {
    background: #23E5DB;
}

li:nth-child(8n+4) img {
    background: #FF5636;
}

li:nth-child(8n+5) img {
    background: #FFF6D9;
}

li:nth-child(8n+6) img {
    background: #CEDDFF;
}


li:nth-child(8n+7) img {
    background: #C8F8F6;
}

li:nth-child(8n+8) img {
    background: #FFD6C9;
}


li:hover .category-name {
    background-color: #002F34;
    color: white;
}
.category-name {
    font-size: 16px;
    font-weight: 600;
    font-family: Geomanist, Arial, sans-serif;
    cursor: pointer;
    display: inline-block;
    max-width: 88px;
    word-wrap: break-word;

}

li img {
    display: block;
    background: #3A77FF;
    box-sizing: border-box;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0px 19px 28px;
    width: 88px;
    cursor: pointer;
}








