<!DOCTYPE html>
<html>
<head>
    <title>AnnouncementPortal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<div class="headbar">
    <div class="mid-headbar">
    </div>
</div>



{% for listing in listings %}
    <div class="latest">
        <h3>{{ listing.title }}</h3>
        <p>{{ listing.description }}</p>
        <p>Price: {{ listing.price }}</p>
        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
        {% endif %}
    </div>
{% endfor %}

</body>
</html>
