<!DOCTYPE html>
<html>
<head>
    <title>AnnouncementPortal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.cdnfonts.com/css/geomanist" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/Arial" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
{% include 'navbar.html' %}
{% include 'search.html' %}


<div class="categories">
    <div class="categories-text">Main categories</div>
</div>


{% for listing in listings %}
    <div class="latest">
        <h3>{{ listing.title }}</h3>
        <p>{{ listing.description }}</p>
        <p>Price: {{ listing.price }}</p>
        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
        {% endif %}
    </div>
{% endfor %}

</body>
</html>
