{% load static %}
<div class="headbar">
    <div class="mid-headbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="menu">
            <div class="menu-item1">
                <i class="fa-regular fa-comment"></i> Messages
            </div>
            <div class="menu-item2">
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="menu-item3">
                <i class="fa-regular fa-user"></i> Your account
            </div>
            <div>
                <button class="add">Add advertisement</button>
            </div>
        </div>
    </div>
</div>


<div class="news">
    TEST
</div>