<div class="search-container-parent">
    <div class="search-container">
        <div class="search-box">
            <form method="GET" action="{% url 'search_results' %}">
                <input type="text" name="query" class="search-input" placeholder="Find something for you">
                <i class="fa fa-search search-icon"></i>
            </div>
            <div class="location-box">
                <input type="text" name="location" class="location-input" placeholder="Location">
                <i class="fa-solid fa-location-dot location-icon"></i>
            </div>
            <div class="search-button">
                <button type="submit" class="search">Search</button>
            </div>
        </form>
    </div>
</div>