<div class="search-container-parent">
    <div class="search-container">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Find something for you">
            <i class="fa fa-search search-icon"></i>
        </div>
        <div class="location-box">
            <input type="text" class="location-input" placeholder="Location">
            <i class="fa-solid fa-location-dot location-icon"></i>
        </div>
        <div class="search-button">
            <button class="search">Search</button>
        </div>
    </div>
</div>